* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-style: none;
  overflow: hidden;
  font-family: sans-serif;
}
.App {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  margin: auto;
}
.subtitle {
  font-size: 32px;
  font-weight: 600;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 40px;
}

p {
  margin: 30px;
  text-align: justify;
  max-height: 50vh;
  overflow-y: auto;
}
.registration {
  width: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  font-size: large;
}
label {
  color: rgb(199, 16, 16);
}
form {
  width: 100%;
  padding: 20px;
}
button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(126, 6, 126);
  color: white;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: rgb(169, 11, 169);
}
.alert {
  background-color: rgb(180, 245, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid green;
  position: absolute;
  top: 50px;
  margin: auto;
}
.transbounce {
  animation: transbounce 0.3s ease;
}
@keyframes transbounce {
  0% {
    top: 10px;
    opacity: 0.1;
  }

  100% {
    top: 50px;
    opacity: 1;
  }
}
